$theme-colors: (
  "primary": #301554,
  "success": #33691e,
  "danger": #f50057,
  "warning": #ffab00,
  "heading": #004a8b,
  "plain-white": #ffffff,
);
@import "~bootstrap/scss/bootstrap";

body {
  padding-top: 5rem; //1rem=16px;
  background-color: whitesmoke;
}
